/*COMMON CSS not loaded, because bootstrap reset a lot of them self*/

/*------------------------MY RESET----------------------*/
html, body {margin:0; padding:0; width: 100%; height: 100%;}

h1,h2,h3,h4, ul, li, p, a {
    margin:0;
    padding:0;
    font-size: 100%;
    color: #000;
    text-decoration: none;
    line-height: 1;
}
img {vertical-align: top;}
em {font-style: normal;}
.hidden {display:none;}

/*---------------------TYPHOGRAPHY---------------------*/
* {
    -webkit-font-smoothing: antialiased; /*font pixel antialiased*/
}
a {
	text-decoration: none;
	color: #fff;
}
body {font-family: "Source Sans Pro", sans-serif; font-weight: 300;}

h1 {font: 24px "Source Sans Pro", sans-serif; text-transform: uppercase; color: #fff; line-height: 82px;} 
em {font-weight: 700;}
h2 {font: 50px/82px "Source Sans Pro", sans-serif;}
h3 {font: 35px/68px "Source Sans Pro", sans-serif;}
.main_tt {font:28px/38px "Source Sans Pro", sans-serif;}
.sub_tt {font-size: 18px; line-height: 27px;}
h4 {font: 40px "Source Sans Pro", sans-serif; font-weight: 400;}

/*LAYOUT*/
.container {
    width: 1170px; margin: 0 auto;
}
/*HEADER*/
header {height: 82px; background-color: #2c2f36; text-align: center;}
/*SLOGAN*/
.slogan {
    background-color: #e2e2e2;
    padding: 80px 0;
}
.slogan .container {
    display:flex;
    justify-content: center;
    align-items: center;
}
.slogan .row a{
    width: 370px; height: 76px; border: none; background-color: #00c494; margin: 20px 0;  line-height: 76px;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    }
/*TESTIMONAL*/
.testimonial {
    background-color: #f0f0f0;
    padding: 45px 0;
}
.testimonial small.from {text-align: center; display:block; font-style: italic;}
blockquote.container {padding-left:0;}
/*CONTROL*/
.control {padding: 80px 0;}
.control .device {padding-bottom: 100px;}
.control .appliance {position: relative;}
.control .appliance img {position: absolute; left: 70px; opacity: 0;}

/*CSS ANMIATION by ScrollDown*/
.animate, .grow-img, .animate_down{ 
    animation: fadeIn 1s forwards ease-in;
    transition: 2s ease-in-out; 
}
@keyframes fadeIn{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
#phone {margin-top: 40px;}
#phone.animate {transform: translateX(28em);}
#monitor.animate {transform: translateX(16em);}

/*FEATURES*/
.features {background-color: #f0f0f0; padding: 80px 0 70px 0px;}
.features .item {text-align: center;}
.features .item img {width: 0; height:0;}
/*CSS ANIMATION GROW IMG*/
.features .item img.grow-img {width: 169px; height:169px;}
.features .container div h4 {color: #2c2f36; font-size: 30px; text-transform: uppercase; line-height: 60px; font-family: "Source Sans Pro", sans-serif; font-weight: 400; opacity: 0;}

/*LOCATION*/

.location {position: relative;}
.location .contents {position: absolute; top:0; left:0; right:0; }
.location .map {position: relative;}

.stripes {display: flex;}
.stripes .stripe {width: 10%; height: 0px;} /*ANIMATION HEIGHT 0 --> 512px */
/*Transition-delay: 0.1s to 1s - can be good altanative for javascript*/
#s1 {background: #2c2f36; }
#s2 {background: #444850; }
#s3 {background: #36383c; }
#s4 {background: #1e2026; }
#s5 {background: #444850; }
#s6 {background: #2b2d30; }
#s7 {background: #1e2026; }
#s8 {background: #36383c; }
#s9 {background: #444850; }
#s10 {background: #2c2f36;}


#map {margin-left: 70px; margin-top: 120px;}
#radar {
    position: absolute; 
    top: 90px; 
    left: 109px;
    /*ANIMATION ROTATION FOR RADAR*/
    animation: rotation 10s infinite linear;
}
@keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
.stripes .stripe.animate_down {height: 512px;}

.location .contents_tt {
    position: absolute; top: 160px; right: 0px; 
}
.location .contents_tt >* {color: #fff;}
.location .contents_tt .server {font-weight: 600; line-height: 78px;}

/*SCROLL TRIGGER*/
.visible, .invisible {
    opacity: 0.0;
    transition: opacity 0.5s ease;
  }
  .visible {
    opacity: 1.0;
  }